<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordtrees.ShowArtefactWordTree"
            objectClass="org.but4reuse.artefactmodel.Artefact">
         <action
               class="org.but4reuse.wordtrees.ui.actions.ShowArtefactWordTree"
               icon="icons/cloud.png"
               id="org.but4reuse.wordtrees.action1"
               label="Show Word Tree">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordtrees.ShowFeatureWordTree"
            objectClass="org.but4reuse.featurelist.Feature">
         <action
               class="org.but4reuse.wordtrees.ui.actions.ShowFeatureWordTree"
               icon="icons/cloud.png"
               id="org.but4reuse.wordtrees.action2"
               label="Show Word Tree">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordtrees.ShowArtefactWordTreeIDF"
            objectClass="org.but4reuse.artefactmodel.Artefact">
         <action
               class="org.but4reuse.wordtrees.ui.actions.ShowArtefactWordTreeTFIDF"
               icon="icons/cloud.png"
               id="org.but4reuse.wordtrees.action3"
               label="Show TF-IDF Word Tree">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordtrees.ShowFeatureWordTreeIDF"
            objectClass="org.but4reuse.featurelist.Feature">
         <action
               class="org.but4reuse.wordtrees.ui.actions.ShowFeatureWordTreeTFIDF"
               icon="icons/cloud.png"
               id="org.but4reuse.wordtrees.action4"
               label="Show TF-IDF Word CLoud">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.but4reuse.wordtrees.ShowArtefactModelWordTree"
            objectClass="org.but4reuse.artefactmodel.ArtefactModel">
         <action
               class="org.but4reuse.wordtrees.ui.actions.ShowArtefactModelWordTree"
               icon="icons/cloud.png"
               id="org.but4reuse.wordtrees.action3"
               label="Show Word Tree">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.but4reuse.views.category"
            class="org.but4reuse.wordtrees.visualisation.WordTreeView"
            icon="icons/cloud.png"
            id="org.but4reuse.wordtrees.view"
            name="WordTrees"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.but4reuse.visualisation">
      <visualisation
            class="org.but4reuse.wordtrees.visualisation.WordTreeVisualisation"
            name="Word Tree">
      </visualisation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.wordtrees.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.visualisation.ui.page"
            class="org.but4reuse.wordtrees.preferences.WordTreePreferences"
            id="org.but4reuse.wordtrees.page"
            name="WordTree">
      </page>
   </extension>
   <extension
         point="org.but4reuse.wordtrees.filter">
      <filter
            class="org.but4reuse.wordtrees.filters.CamelCaseSplitter"
            name="CamelCase splitter">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.IgnoreUpperCaseProcessing"
            name="Ignore upper case">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.MultiWordsFilter"
            name="Multi words (user defined)">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.NumbersFilter"
            name="Remove numbers">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.OneCharFilter"
            name="Remove one char words">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.PartOfSpeechTagsFilter"
            name="Part of speech tags filter">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.StemmingFilter"
            name="Stemming filter">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.StopWordsFilter"
            name="Stop words (user defined)">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.SynonymsFilter"
            name="Synonyms wordnet (expensive)">
      </filter>
      <filter
            class="org.but4reuse.wordtrees.filters.UserSynonymsFilter"
            name="Synonyms (user defined)">
      </filter>
       <filter
            class="org.but4reuse.wordtrees.filters.JavaRemoveGetSetFilter"
            name="Java remove get and set">
      </filter>
       <filter
            class="org.but4reuse.wordtrees.filters.JavaRemoveKeywordsFilter"
            name="Java remove keywords">
      </filter>
   </extension>

</plugin>
