<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.but4reuse.adapters">
      <adapter
            class="org.but4reuse.adapters.android.AndroidManifestAdapter"
            icon="icons/android.png"
            id="android"
            name="Android Manifest">
         <elements>
            <element
                  element="org.but4reuse.adapters.android.element.PermissionElement"></element>
            <element
                  element="org.but4reuse.adapters.android.element.ActivityElement"></element>   
            <element
                  element="org.but4reuse.adapters.android.element.BroadcastElement"></element>     
            <element
                  element="org.but4reuse.adapters.android.element.ContentProviderElement"></element>         
            <element
                  element="org.but4reuse.adapters.android.element.FeatureElement"></element>     
			<element
                  element="org.but4reuse.adapters.android.element.PackageIdElement"></element>         
 			<element
                  element="org.but4reuse.adapters.android.element.SdkElement"></element>
            <element
                  element="org.but4reuse.adapters.android.element.ServiceElement"></element>
         </elements>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.but4reuse.adapters.android.objectContribution1"
            nameFilter="*.apk"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.but4reuse.adapters.android.unpack.UnpackAction"
               enablesFor="*"
               icon="icons/android.png"
               id="org.but4reuse.adapters.android.action1"
               label="Unpack+dex2jar+jarDecompile+AndroidManifest.txt"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.but4reuse.adapters.android.objectContribution2"
            nameFilter="src"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="org.but4reuse.adapters.libwhitelist.RemoveCommonLibsAction"
               enablesFor="*"
               icon="icons/android.png"
               id="org.but4reuse.adapters.android.action1"
               label="Remove Common and Ad Libraries"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.but4reuse.adapters.ui.preferences.AdaptersPreferencePage"
            class="org.but4reuse.adapters.android.preferences.AndroidAdapterPreferencePage"
            id="org.but4reuse.adapters.android.page"
            name="android">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.but4reuse.adapters.android.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
